# Ignore Environment Variables
.env

# Ignore Python Cache
__pycache__/
*.pyc

# Ignore your Virtual Environment (assuming you named it 'env')
env/
venv/

# Ignore your course PDFs (GitHub has file size limits)
*.pdf
*.docx
*.pptx