langgraph
langchain
langchain-community
langchain-pinecone
langchain-huggingface
langchain_groq
pinecone-client
rank_bm25
pypdf
python-dotenv
sentence-transformers
docx2txt 
unstructured 
python-pptx
sqlalchemy
langgraph-checkpoint-sqlite
deepeval
fastapi
uvicorn[standard]
pydantic
aiofiles
httpx
python-multipart
redis
streamlit
requests
chromadb